[submodule "tukaan/Serif"]
	path = tukaan/Serif
	url = https://github.com/tukaan/Serif
[submodule "tukaan/Snack"]
	path = tukaan/Snack
	url = https://github.com/tukaan/Snack
[submodule "tukaan/Gttk"]
	path = tukaan/Gttk
	url = https://github.com/tukaan/Gttk
