[submodule "tukaan/Snack"]
	path = tukaan/Snack
	url = https://github.com/tukaan/Snack
[submodule "Serif"]
	path = Serif
	url = https://github.com/tukaan/Serif
[submodule "tukaan/Serif"]
	path = tukaan/Serif
	url = https://github.com/tukaan/Serif
