name: PR

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  black:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: "3.11"
        cache: pip
    - run: python3 -m pip install black
    - run: python3 -m black --check tukaan/*.py tukaan/*/*.py
  isort:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: "3.11"
        cache: pip
    - run: python3 -m pip install isort
    - run: python3 -m isort --check tukaan/*.py tukaan/*/*.py
  pytest:
    strategy:
      matrix:
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]
        python-version: ["3.8", "3.9", "3.10", "3.11"]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: pip
    - if: matrix.os == 'ubuntu-latest'
      run: sudo apt install python3-pil.imagetk
    - run: |
          python3 -m pip install pytest
          python3 -m pip install -r requirements.txt
    - uses: GabrielBB/xvfb-action@v1.4
      with:
        run: python3 -m pytest
